body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat';
	background-color: #fff;
	padding-top: 44px;
	overflow: auto;
}

.text-symbol {
	align-self: center;
}

.col1 {
	display: flex;
	flex-direction: column;
	gap: 144px;
}

.col2 {
	container: col2 / inline-size;
	margin-left: 72px; margin-right: 50px;
	display: flex;
	flex-direction: column;
	gap: 82px;
	line-height: normal;
}

.row-top1 {
	margin-right: 22px;
	height: 44px;
	display: flex;
	align-items: flex-start;
	gap: 29px;
	flex-shrink: 0;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0px;
	text-align: left;
}

.graphic-left1 {
	margin-left: -1px; margin-top: -1px;
	width: 32px; height: 39%;
	flex-shrink: 0;
	align-self: center;
}

.subtitle-set-present {
	margin-top: 2px;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
}

.row1 {
	margin-left: 4px;
	height: 44px;
	display: flex;
	gap: 16px;
	padding: 11px 177px 11px 23px;
	border: 1px solid #000;
	border-radius: 100px;
}

.graphic-left2 {
	margin-top: 1px;
	width: 15px; height: 75%;
	flex-shrink: 0;
	align-self: center;
}

.text-symbol1 {
	align-self: start;
}

.group1 {
	position: relative;
	margin-left: 174px;
	width: 231px;
	flex-shrink: 0;
}

.text-plus {
	position: absolute; top: 12px; left: 60px; 
}

.group2 {
	position: relative; z-index: 1;
	height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}

.heroicons-outline-phone {
	position: absolute; top: 11px; left: 25px; 
	width: 21px; height: 21px;
}

.graphic-right {
	margin-left: 11px; margin-top: 10px;
	width: 120px; height: 24px;
	flex-shrink: 0;
}

.col3 {
	container: col3 / inline-size;
	display: flex;
	flex-direction: column;
	gap: 88px;
	font-weight: 500;
}

.row-top2 {
	height: 568px;
	display: flex;
	gap: 80px;
	flex-shrink: 0;
	text-align: left;
}

.symbol2 {
	width: 92%; height: 100%;
	min-width: 0;
	flex-grow: 1;
	align-self: center;
	border-radius: 20px;
}

.col-right {
	container: col-right / inline-size;
	width: 108%;
	display: flex;
	flex-direction: column;
	gap: 36px;
	flex-grow: 1;
	align-self: start;
}

.title {
	color: #000;
	font-size: 48px;
	letter-spacing: -1.43px;
}

.title1 {
	margin-right: 22px;
}

.title2 {
	margin-top: 37px;
}

.row2 {
	margin-right: 23px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0px;
}



/* card */

.card {
	width: 100%; height: 56px;
	display: flex;
	flex-grow: 1;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}

.card-circle {
	width: 38px; height: 38px;
	flex-shrink: 0;
	align-self: start;
}
/* end card*/


.card-left {
	width: 100%; height: 56px;
	display: flex;
	gap: 53px;
	flex-grow: 1;
	background-color: #000;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}

.card-left-circle {
	position: relative;
	width: 38px;
	flex-shrink: 0;
	align-self: start;
	aspect-ratio: 1 / 1;
}

.card-left-heroicons {
	position: absolute; top: 28%; left: 26%; 
	width: 47%;
}

.card2 {
	gap: 31px;
	background-color: #000;
}

.card2 .card-circle {
	padding: 12px 10px 11px 11px;
}

.card2 .card-heroicons1 {
	width: 17px;
	aspect-ratio: 1 / 1;
}

.card-right {
	gap: 32px;
	color: #000;
	background-color: #fece15;
}

.card-right .card-circle {
	padding: 8px 8px 9px 8px;
	border: 1px solid #fff;
}

.card-right .card-heroicons1 {
	width: 18px;
	aspect-ratio: 1 / 1;
}

.col-bottom1 {
	margin-right: 22px; margin-top: 27px;
	display: flex;
	flex-direction: column;
	gap: 17px;
	color: #959595;
	font-size: 16px;
	letter-spacing: 0px;
	padding-bottom: 17px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}



/* row */

.row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 16px;
	padding-right: 2px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.row-heroicons-solid-chevron {
	margin-top: 7px;
	width: 10px;
	flex-shrink: 0;
	aspect-ratio: 1 / 1;
}
/* end row*/


.col-bottom2 {
	container: col-bottom2 / inline-size;
	margin-right: 22px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-top: 12px;
}

.subtitle-symbol {
	color: #959595;
	--min-font-size: 24; --max-font-size: 42; font-size: var(--interpolate);
	letter-spacing: -1.25px;
	text-align: left;
	padding-bottom: 19px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.row6 {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	color: #000;
	font-size: 18px;
	letter-spacing: 0px;
	text-align: center;
}



/* column */

.column {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-grow: 1;
}

.card1 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px 10px 205px 10px;
	border-radius: 30px;
}

.card-circle-white-top {
	position: relative;
	backdrop-filter: blur(2px);
	width: 44px; height: 44px;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.4);
}

.card-circle-white-bottom {
	backdrop-filter: blur(2px);
	width: 44px; height: 44px;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 13px 12px;
	border-radius: 50%;
}

.column-col-bottom {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.column-btn {
	margin-left: 2px;
	width: 91px;
	display: flex;
	justify-content: center;
	align-self: center;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fece15;
	padding: 4px 12px;
	border-radius: 100px;
}
/* end column*/


.col4 {
	margin-top: 6px;
}

.col4 .card1 {
	background-image: url(../assets/card/card.png);
}

.col4 .card-heroicons2 {
	position: absolute; top: 28%; left: 26%; 
	width: 47%;
}

.col4 .card-heroicons3 {
	width: 20px; height: 18px;
}

.col5 {
	margin-top: 6px;
}

.col5 .card1 {
	background-image: url(../assets/card/card2.png);
}

.col5 .card-heroicons2 {
	position: absolute; top: 28%; left: 26%; 
	width: 47%;
}

.col5 .card-heroicons3 {
	width: 20px; height: 18px;
}

.col6 {
	margin-top: 4px;
}

.col6 .card1 {
	background-image: url(../assets/card/card3.png);
}

.col6 .card-heroicons2 {
	position: absolute; top: 28%; left: 26%; 
	width: 47%;
}

.col6 .card-heroicons3 {
	width: 20px; height: 18px;
}

.col7 .card1 {
	background-image: url(../assets/card/card.png);
}

.col7 .card-heroicons2 {
	position: absolute; top: 28%; left: 26%; 
	width: 47%;
}

.col7 .card-heroicons3 {
	width: 20px; height: 18px;
}

.footer {
	container: footer / inline-size;
	display: flex;
	flex-direction: column;
	gap: 48px;
	color: #fff;
	text-align: left;
	background-color: #000;
	padding: 50px 50px 96px 50px;
}

.footer-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	font-weight: 500;
	line-height: 0.92;
	letter-spacing: -0.89px;
	padding: 27px 0;
	border-bottom: 1px solid #fff;
}

.footer-subtitle {
	text-transform: uppercase;
}

.footer-nav-items1 {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-graphic {
	flex-shrink: 0;
}

.footer-circle {
	position: relative;
	width: 28px; height: 28px;
	flex-shrink: 0;
}

.footer-graphic1 {
	position: absolute; top: 27%; left: 26%; 
	width: 50%;
}

.footer-graphic2 {
	width: 28px; height: 28px;
}

.footer-graphic-right {
	width: 27px; height: 27px;
}

.footer-nav-items2 {
	display: flex;
	align-items: center;
	gap: 40px;
	align-self: start;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.28px;
}

.footer-text-symbol {
	text-transform: uppercase;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.col2 {
		margin-inline: var(--margin-md);
	}
	.row-top1 {
		margin-inline: 0;
	}
	.row1 {
		padding-inline: var(--margin-md);
	}
	.title1 {
		margin-inline: 0;
	}
	.row2 {
		margin-inline: 0;
	}
	.col-bottom1 {
		margin-inline: 0;
	}
	.col-bottom2 {
		margin-inline: 0;
	}
	.footer {
		padding-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.col2 {
		margin-inline: var(--margin-sm);
	}
	.row1 {
		padding-inline: var(--margin-sm);
	}
	.footer {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container col2 (width < 1317px) {
	.row-top1 {
		height: unset;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.row-top1 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
	}
}

@container col3 (width < 1118px) {
	.row-top2 {
		height: unset;
		flex-direction: column;
		gap: 100px;
	}
	.row-top2 > .symbol2 {
		width: 568px;
	}
}

@container col-right (width < 669px) {
	.row2 {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
}

@container col-bottom2 (width < 1295px) {
	.row6 {
		flex-direction: column;
		gap: 16px;
	}
	.row6 > * {
		margin-top: unset !important;
	}
}

@container footer (width < 321px) {
	.footer-nav {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-nav > * {
		margin-left: unset !important; margin-right: unset !important;
		text-align: center;
	}
}

@container footer (width < 629px) {
	.footer-nav-items2 {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-nav-items2 > * {
		text-align: center;
	}
}
