
:root {
	/* color variables */
	--divider-divider: #595959;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1440;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}



/* ui objects utility classes */

.btn-yellow {
	display: flex;
	background-color: #fece15;
	padding: 4px 12px;
	border-radius: 100px;
}

.circle1 {
	padding: 0 14px;
	border-radius: 50%;
}



/* button hover utility classes */

.hover-zoom:hover {
	scale: 1.05;
}

.hover-bright:hover {
	filter: brightness(1.2);
}

.hover-dark:hover {
	filter: brightness(0.85);
}
