{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 300px; height: auto;">
    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }} руб.</p>
    <p>Количество: {{ product.quantity }}</p>
    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Добавить в корзину</button>
    </form>
    <a href="{% url 'shop' %}">Назад к списку продуктов</a>
{% endblock %}
