body {
	container: body / inline-size;
	gap: 24px;
	color: #000;
	text-align: center;
}

.row1 {
	text-align: left;
}

.group1 .group-heroicons2 {
	top: 11px; left: 25px; 
	width: 21px; height: 21px;
}

.subtitle-set-present {
	position: absolute; top: 46px; left: 131px; right: 1078px; 
	text-transform: uppercase;
	text-align: left;
}

.heroicons-solid-user {
	top: 56px; right: 76px; 
	width: 16px; height: 21px;
}

.heroicons {
	top: 56px; right: 122px; 
	width: 21px; height: 20px;
}

.heroicons-solid-heart1 {
	top: 57px; right: 170px; 
	width: 20px; height: 18px;
}

.graphic1 {
	position: absolute; top: 57px; left: 5%; 
	width: 2%; height: 17px;
}

.text-plus {
	position: absolute; top: 56px; right: 256px; 
	text-align: left;
}

.col4 .group-top .group-circle-black1 {
	left: 19px; 
}

.col4 .group-top .group-circle-black2 {
	z-index: 1; left: 269px; 
}

.col4 .card-text-symbol2 {
	color: #000;
}

.group2 {
	top: 640px; 
	margin-left: -164px;
	background-image: url(../assets/card/card.png);
}

.group2 .circle-white4 {
	top: 10px; right: 10px; 
}

.group2 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group3 {
	top: 640px; 
	margin-left: 165px;
	background-image: url(../assets/card/card2.png);
}

.group3 .circle-white4 {
	top: 10px; right: 10px; 
}

.group3 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group4 {
	top: 640px; 
}

.group4 .circle-white5 {
	z-index: 1; top: 10px; left: 255px; 
}

.group4 .circle-white5 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.col5 {
	position: absolute; top: 965px; left: 50%; 
	translate: -50% 0;
	margin-left: -164px;
	width: 309px;
}

.col5 .column-btn1 {
	width: unset;
}

.col6 {
	position: absolute; top: 965px; left: 50%; 
	translate: -50% 0;
	margin-left: 165px;
	width: 309px;
}

.group5 {
	top: 1091px; 
	margin-left: -164px;
	background-image: url(../assets/card/card.png);
}

.group5 .circle-white4 {
	top: 10px; right: 10px; 
}

.group5 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group6 {
	top: 1091px; 
}

.group6 .circle-white5 {
	z-index: 1; top: 10px; left: 255px; 
}

.group6 .circle-white5 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group7 {
	top: 1091px; 
	margin-left: 165px;
	background-image: url(../assets/card/card2.png);
}

.group7 .circle-white4 {
	top: 10px; right: 10px; 
}

.group7 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.col7 {
	position: absolute; top: 1416px; left: 50%; 
	translate: -50% 0;
	margin-left: 165px;
	width: 309px;
}

.col8 {
	position: absolute; top: 1416px; left: 50%; 
	translate: -50% 0;
	margin-left: -164px;
	width: 309px;
}

.col8 .column-btn1 {
	width: unset;
}

.group8 {
	top: 1542px; 
	margin-left: -164px;
	background-image: url(../assets/card/card.png);
}

.group8 .circle-white4 {
	top: 10px; right: 10px; 
}

.group8 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group9 {
	top: 1542px; 
}

.group9 .circle-white5 {
	z-index: 1; top: 10px; left: 255px; 
}

.group9 .circle-white5 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group10 {
	top: 1542px; 
	margin-left: 165px;
	background-image: url(../assets/card/card2.png);
}

.group10 .circle-white4 {
	top: 10px; right: 10px; 
}

.group10 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.col9 {
	position: absolute; top: 1867px; left: 50%; 
	translate: -50% 0;
	margin-left: -164px;
	width: 309px;
}

.col9 .column-btn1 {
	width: unset;
}

.col10 {
	position: absolute; top: 1867px; left: 50%; 
	translate: -50% 0;
	margin-left: 165px;
	width: 309px;
}

.group11 {
	top: 1993px; 
	margin-left: -164px;
	background-image: url(../assets/card/card.png);
}

.group11 .circle-white4 {
	top: 10px; right: 10px; 
}

.group11 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group12 {
	top: 1993px; 
}

.group12 .circle-white5 {
	z-index: 1; top: 10px; left: 255px; 
}

.group12 .circle-white5 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.group13 {
	top: 1993px; 
	margin-left: 165px;
	background-image: url(../assets/card/card2.png);
}

.group13 .circle-white4 {
	top: 10px; right: 10px; 
}

.group13 .circle-white4 .circle-white-heroicons {
	position: unset;
	width: 17px; height: 17px;
}

.col11 {
	position: absolute; top: 2318px; left: 50%; 
	translate: -50% 0;
	margin-left: 165px;
	width: 309px;
}

.col12 {
	position: absolute; top: 2318px; left: 50%; 
	translate: -50% 0;
	margin-left: -164px;
	width: 309px;
}

.col12 .column-btn1 {
	width: unset;
}

.row2 {
	top: 2492px; 
}

.row3 .circle-yellow {
	padding-left: 16px;
	padding-right: 16px;
}

.row3 .circle-yellow .circle-heroicons {
	position: unset;
	width: 24px;
	aspect-ratio: 1 / 1;
}

.row3 .row-line-right1 {
	border-top: 4px solid #fece15;
}

.row3 .row-line-left1 {
	border-top: 4px solid #fece15;
}

.row3 .circle-light1 {
	padding-top: 17px;
	padding-bottom: 17px;
}

.row3 .circle-light1 .circle-heroicons {
	position: unset;
	width: 26px;
	aspect-ratio: 1 / 1;
}

.row3 .row-line-right2 {
	border-top: 4px solid #fece15;
}

.row3 .row-line-left2 {
	border-top: 4px solid #f5f5f5;
}

.row3 .circle-light2 {
	background-color: #f5f5f5;
}

.row3 .circle-light2 .circle-heroicons {
	position: unset;
	width: 26px;
	aspect-ratio: 1 / 1;
}

.row4 .card6 .btn-white-heroicons1 {
	width: 7px;
}

.row4 .card-right .btn-white-heroicons2 {
	margin-left: auto;
	width: 7px;
}

.footer1 {
	margin-top: 2068px;
	text-align: left;
}

.footer1 .nav1 .nav-graphic2 {
	width: 28px; height: 28px;
}

.footer1 .nav1 .nav-graphic-right {
	width: 27px; height: 27px;
}
