
:root {
	/* color variables */
	--divider-divider: #595959;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1440;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
	background-color: #fff;
	padding-top: 232px;
	overflow: auto;
}



/* text utility classes */

.text5 {
	font-size: 16px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle4 {
	--min-font-size: 24; --max-font-size: 42; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle-gray2 {
	color: #999;
	--min-font-size: 20; --max-font-size: 32; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle2 {
	--min-font-size: 17; --max-font-size: 24; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.title-black {
	color: #000;
	--min-font-size: 27; --max-font-size: 48; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: -1.43px;
}

.text2 {
	font-size: 24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle3 {
	--min-font-size: 19; --max-font-size: 28; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.83px;
}

.text-gray2 {
	color: #959595;
	--min-font-size: 15; --max-font-size: 16; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
}

.text4 {
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.text3 {
	--min-font-size: 15; --max-font-size: 16; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}

.text1 {
	--min-font-size: 20; --max-font-size: 32; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.title {
	--min-font-size: 27; --max-font-size: 48; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.text-gray1 {
	color: #959595;
	font-size: 14px;
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle-gray1 {
	color: #959595;
	--min-font-size: 24; --max-font-size: 42; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: -1.25px;
}

.text-gray3 {
	color: #999;
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle1 {
	--min-font-size: 22; --max-font-size: 36; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.subtitle-gray3 {
	color: #999;
	--min-font-size: 17; --max-font-size: 24; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}

.link {
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 500;
	text-decoration: underline;
	letter-spacing: 0px;
}

.link2 {
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 400;
	text-decoration: underline;
	letter-spacing: 0px;
}

.link3 {
	--min-font-size: 15; --max-font-size: 16; font-size: var(--interpolate);
	font-family: 'Montserrat';
	font-weight: 400;
	text-decoration: underline;
	letter-spacing: 0px;
}



/* box utility classes */

.box1 {
	width: 160px;
	border-radius: 30px;
}

.box3 {
	width: 39%;
	border-radius: 20px;
}

.box-yellow1 {
	display: flex;
	background-color: #fece15;
	padding: 12px 12px 12px 40px;
	border-radius: 10px;
}

.box2 {
	display: flex;
	flex-direction: column;
	padding: 23px 9px 24px 9px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.box-yellow2 {
	width: 209px;
	display: flex;
	background-color: #fece15;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}



/* circle utility classes */

.circle-white1 {
	background-color: #fff;
	border-radius: 50%;
}

.circle-white2 {
	width: 44px; height: 44px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
}



/* btn utility classes */

.btn1 {
	width: 231px; height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}

.hover-fx:hover {
	filter: brightness(1.2);
}



/* row-a */

.row-a {
	position: absolute; top: 44px; left: 50%;
	translate: -50% 0;
	margin-left: -140px;
	width: max-content; height: 44px;
	display: flex;
	gap: 16px;
	font-size: 16px;
	font-weight: 400;
	padding: 11px 177px 11px 23px;
	border: 1px solid #000;
	border-radius: 100px;
}

.row-graphic {
	margin-top: 1px;
	width: 15px; height: 75%;
	flex-shrink: 0;
	align-self: center;
}

.row-text1 {
	align-self: start;
}
/* end row-a*/


.heroicons-solid-heart-a {
	position: absolute;
}

.btn-symbol-a {
	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 20px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fece15;
	padding: 16px 8px;
	border-radius: 100px;
}

.line-a {
	margin: 0 auto;
	width: 90%; height: 0;
	flex-shrink: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.symbol-a {
	flex-shrink: 0;
	border-radius: 30px;
}

.subtitle-symbol-a {
	margin-top: 16px;
	--min-font-size: 22; --max-font-size: 36; font-size: var(--interpolate);
}



/* footer-a */

.footer-a {
	container: footer1 / inline-size;
	display: flex;
	flex-direction: column;
	gap: 48px;
	color: #fff;
	background-color: #000;
	padding: 50px 50px 96px 50px;
}
/* end footer-a*/




/* nav */

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	line-height: 0.92;
	letter-spacing: -0.89px;
	padding: 27px 0;
	border-bottom: 1px solid #fff;
}

.nav-subtitle {
	text-transform: uppercase;
}

.nav-items1 {
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav-circle {
	position: relative;
	width: 28px; height: 28px;
	flex-shrink: 0;
}

.nav-graphic1 {
	position: absolute; top: 27%; left: 26%;
	width: 50%;
}
/* end nav*/


.graphic {
	flex-shrink: 0;
}



/* nav-items-a */

.nav-items-a {
	display: flex;
	align-items: center;
	gap: 40px;
	align-self: start;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.28px;
}
/* end nav-items-a*/


.nav-items-text-symbol {
	text-transform: uppercase;
}



/* card-a */

.card-a {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px 10px 205px 10px;
	border-radius: 30px;
}

.card-circle-white-top1 {
	position: relative;
	backdrop-filter: blur(2px);
	flex-shrink: 0;
}
/* end card-a*/




/* circle-white-a */

.circle-white-a {
	position: absolute;
	backdrop-filter: blur(2px);
	width: 44px; height: 44px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 14px;
	border-radius: 50%;
}
/* end circle-white-a*/




/* column-b */

.column-b {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.column-text1 {
	--min-font-size: 16; --max-font-size: 18; font-size: var(--interpolate);
}
/* end column-b*/


.btn-a {
	margin-left: 2px;
	width: 91px;
	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fece15;
	padding: 4px 12px;
	border-radius: 100px;
}



/* column-c */

.column-c {
	position: absolute;
	width: 309px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: #000;
	text-align: center;
}
/* end column-c*/




/* group-b */

.group-b {
	position: relative;
	font-size: 16px;
	text-align: left;
	padding: 19px 19px 85px 19px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.group-line {
	position: absolute; top: 71px; left: 50%;
	translate: -50% 0;
	margin-left: -4px;
	width: 250px; height: 0;
	border-top: 1px solid var(--divider-divider);
	border-radius: 50%;
}

.group-text1 {
	position: absolute; top: 89px; left: 19px;
}

.group-text2 {
	position: absolute; top: 89px; left: 223px;
	text-align: right;
}

.group-text-symbol {
	font-size: 20px;
}
/* end group-b*/


.group-circle-black {
	position: absolute; top: 67px;
	width: 10px;
	background-color: #000;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}

.text-symbol-a {
	flex-shrink: 0;
}



/* row-b */

.row-b {
	position: absolute; left: 50%;
	translate: -50% 0;
	margin-left: 165px;
	width: max-content;
	display: flex;
	align-items: flex-start;
	gap: 14px;
	color: #959595;
	font-size: 20px;
	text-align: left;
	background-color: #f5f5f5;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}

.row-text2 {
	margin-top: 7px;
}

.row-circle {
	width: 38px; height: 38px;
	flex-shrink: 0;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 11px;
	border-radius: 50%;
}
/* end row-b*/


.row-heroicons-solid-plus {
	width: 17px; height: 17px;
}

.subtitle-symbol-b {
	margin-top: 10px;
	font-size: 24px;
	font-weight: 500;
}



/* group-c */

.group-c {
	position: absolute; top: 44px; right: 232px;
	width: 231px; height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}
/* end group-c*/




/* card-c */

.card-c {
	position: absolute;
	display: flex;
	font-size: 16px;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}

.card-circle1 {
	width: 38px; height: 38px;
	flex-shrink: 0;
	align-self: start;
	background-color: #fff;
	padding-right: 9px;
	padding-bottom: 11px;
	border-radius: 50%;
}
/* end card-c*/


.text-symbol-b {
	align-self: center;
}

.heroicons-solid-arrow {
	aspect-ratio: 1 / 1;
}



/* card-d */

.card-d {
	position: absolute; left: 50%;
	translate: -50% 0;
	margin-left: 105px;
	width: 209px;
	display: flex;
	gap: 53px;
	color: #fff;
	font-size: 16px;
	background-color: #000;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}

.card-circle2 {
	position: relative;
	width: 38px;
	flex-shrink: 0;
	align-self: start;
	aspect-ratio: 1 / 1;
}
/* end card-d*/


.line-b {
	margin-top: 24px;
	width: 20px; height: 0;
	flex-shrink: 0;
}



/* row-c */

.row-c {
	position: absolute; right: 72px;
	margin: 0 auto;
	width: 90%;
	max-width: 648px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: #959595;
	--min-font-size: 15; --max-font-size: 16; font-size: var(--interpolate);
	padding-right: 2px;
}
/* end row-c*/


.row-heroicons-solid-chevron {
	margin-top: 7px;
	width: 10px;
	flex-shrink: 0;
	aspect-ratio: 1 / 1;
}



/* column-f */

.column-f {
	position: absolute; top: 640px; left: 72px;
	width: 309px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-size: 20px;
}

.card5 {
	gap: 12px;
	color: #c4c4c4;
}

.column-row-bottom2 {
	margin-right: 1px;
	display: flex;
	align-items: flex-start;
	gap: 8px;
	color: #959595;
}
/* end column-f*/


.column-btn-symbol {
	width: 100%; height: 56px;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #f5f5f5;
	padding: 16px 8px;
	border-radius: 100px;
}



/* row-d */

.row-d {
	margin-top: 16px;
	display: flex;
	align-items: flex-start;
	align-self: center;
}

.row-row-left {
	display: flex;
	align-items: flex-start;
}

.row-row {
	display: flex;
	align-items: flex-start;
}

.row-row-right {
	display: flex;
	align-items: flex-start;
}
/* end row-d*/




/* circle */

.circle {
	backdrop-filter: blur(2.55px);
	width: 56px; height: 56px;
	flex-shrink: 0;
	background-color: #fece15;
	padding: 15px;
	border-radius: 50%;
}
/* end circle*/




/* btn-white-a */

.btn-white-a {
	margin-left: auto;
	display: flex;
	gap: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 6px 20px 6px 6px;
	border-radius: 500px;
}

.btn-white-icon1 {
	width: 36px; height: 36px;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 12px 16px 12px 14px;
	border-radius: 50%;
}
/* end btn-white-a*/


.label-symbol {
	margin-top: 8px;
}



/* btn-white-b */

.btn-white-b {
	display: flex;
	gap: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 6px 6px 6px 20px;
	border-radius: 500px;
}

.btn-white-icon2 {
	width: 36px; height: 36px;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 12px 14px 12px 16px;
	border-radius: 50%;
}
/* end btn-white-b*/




/* group-e */

.group-e {
	position: absolute; top: 44px; right: 232px;
	width: 231px; height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}
/* end group-e*/




/* group-f */

.group-f {
	position: absolute; left: 50%;
	translate: -50% 0;
	width: 309px; height: 309px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 30px;
}
/* end group-f*/




/* group-g */

.group-g {
	position: absolute; right: 72px;
}

.group-col2 {
	width: 309px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
/* end group-g*/




/* row-e */

.row-e {
	margin: 64px 72px 0 72px;
	display: flex;
	align-items: flex-start;
	gap: 8px;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	background-color: #fece15;
	padding: 12px 12px 12px 40px;
	border-radius: 10px;
}
/* end row-e*/




/* btn-light */

.btn-light {
	position: absolute; left: 399px;
	width: 131px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	color: #959595;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #f5f5f5;
	padding: 3px 12px;
	border-radius: 100px;
}

.btn-light-icon-heros2 {
	margin-left: 4px; margin-top: -1px;
	width: 17px;
	flex-shrink: 0;
}

.btn-light-line {
	height: 0;
	border-top: 2px solid #959595;
	border-radius: 50%;
}
/* end btn-light*/


.btn-light-icon-heros-solid-plus {
	margin-left: -2px;
	width: 24px; height: 24px;
	flex-shrink: 0;
}



/* group-h */

.group-h {
	position: absolute; top: 44px; right: 232px;
	width: 231px; height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}
/* end group-h*/


.input-symbol {
	margin-left: 1px;
	width: 329px;
	align-self: center;
	color: #999;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: left;
	padding: 13px 19px;
	border: 1px solid #dddcdb;
	border-radius: 100px;
}

.btn-symbol-c {
	margin-left: 1px;
	width: 329px;
	display: flex;
	justify-content: center;
	align-self: center;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fece15;
	padding: 14px 11px;
	border-radius: 100px;
}



/* footer-b */

.footer-b {
	container: footer-b / inline-size;
	display: flex;
	flex-direction: column;
	gap: 48px;
	color: #fff;
	background-color: #000;
	padding: 50px 50px 96px 50px;
}

.footer-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	font-weight: 500;
	line-height: 0.92;
	letter-spacing: -0.89px;
	padding: 27px 0;
	border-bottom: 1px solid #fff;
}

.footer-subtitle {
	text-transform: uppercase;
}

.footer-nav-items {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-circle {
	position: relative;
	width: 28px; height: 28px;
	flex-shrink: 0;
}

.footer-graphic1 {
	position: absolute; top: 27%; left: 26%;
	width: 50%;
}
/* end footer-b*/




/* group-i */

.group-i {
	position: absolute; top: 44px; right: 232px;
	width: 231px; height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}
/* end group-i*/




/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.row-a {
		padding-inline: var(--margin-md);
	}
	.footer-a {
		padding-inline: var(--margin-md);
	}
	.row-e {
		padding-inline: var(--margin-sm);
		margin-inline: var(--margin-md);
	}
	.footer-b {
		padding-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.row-a {
		padding-inline: var(--margin-sm);
	}
	.footer-a {
		padding-inline: var(--margin-sm);
	}
	.row-e {
		margin-inline: var(--margin-sm);
	}
	.footer-b {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container footer1 (width < 323px) {
	.nav {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.nav > * {
		margin-left: unset !important; margin-right: unset !important;
		text-align: center;
	}
}

@container footer1 (width < 630px) {
	.nav-items-a {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.nav-items-a > * {
		text-align: center;
	}
}

@container body (width < 807px) {
	.row-e {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.row-e > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container footer-b (width < 323px) {
	.footer-nav {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-nav > * {
		margin-left: unset !important; margin-right: unset !important;
		text-align: center;
	}
}
