body {
	gap: 15px;
}

.row1 {
	color: #000;
}

.group1 .group-heroicons4 {
	top: 11px; left: 25px; 
	width: 21px; height: 21px;
}

.subtitle-set-present {
	position: absolute; top: 46px; left: 131px; right: 1078px; 
	color: #000;
	text-transform: uppercase;
}

.heroicons-solid-user {
	top: 56px; right: 76px; 
	width: 16px; height: 21px;
}

.heroicons {
	top: 56px; right: 122px; 
	width: 21px; height: 20px;
}

.heroicons-solid-heart1 {
	top: 57px; right: 170px; 
	width: 20px; height: 18px;
}

.graphic1 {
	position: absolute; top: 57px; left: 5%; 
	width: 2%; height: 17px;
}

.text-plus {
	position: absolute; top: 56px; right: 256px; 
	color: #000;
}

.subtitle-symbol1 {
	text-align: center;
}

.input-symbol1 {
	margin-top: 20px;
	font-weight: 400;
}

.text6 {
	margin-top: 5px;
	color: #999;
	text-align: center;
}

.footer1 {
	margin-top: 256px;
}

.footer1 .footer-graphic2 {
	width: 28px; height: 28px;
}

.footer1 .footer-graphic-right {
	width: 27px; height: 27px;
}
