body {
	gap: 1064px;
}

.group1 .group-heroicons1 {
	top: 11px; left: 25px; 
	width: 21px; height: 21px;
}

.row1 {
	color: #000;
}

.subtitle-set-present {
	position: absolute; top: 46px; left: 131px; right: 1078px; 
	color: #000;
	text-transform: uppercase;
}

.heroicons-solid-user {
	top: 56px; right: 76px; 
	width: 16px; height: 21px;
}

.heroicons {
	top: 56px; right: 122px; 
	width: 21px; height: 20px;
}

.heroicons-solid-heart1 {
	top: 57px; right: 170px; 
	width: 20px; height: 18px;
}

.graphic1 {
	position: absolute; top: 57px; left: 5%; 
	width: 2%; height: 17px;
}

.text-plus {
	position: absolute; top: 56px; right: 256px; 
	color: #000;
}

.line1 {
	position: absolute; top: 378px; left: 72px; 
	max-width: 794px;
	flex-shrink: unset;
}

.card7 {
	position: absolute; top: 379px; right: 72px; 
	margin: 0 auto;
	width: 90%;
	max-width: 430px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: #959595;
	background-color: #f5f5f5;
	padding: 24px;
	border-radius: 30px;
}

.card-input-symbol {
	font-size: 20px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: left;
	padding: 16px 24px;
	border-radius: 100px;
}

.card-row1 {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	font-size: 18px;
}

.card-text-left {
	text-align: left;
}

.card-line1 {
	margin: 16px -2px 0 auto;
	width: 181px; height: 0;
	flex-shrink: 0;
	border-top: 1px dashed #959595;
}

.card-text-right {
	text-align: right;
}

.card-row2 {
	display: flex;
	align-items: flex-start;
	color: #000;
	--min-font-size: 23; --max-font-size: 24; font-size: var(--interpolate);
}

.card-subtitle-left {
	text-align: left;
}

.card-line2 {
	margin-left: auto; margin-top: 22px;
	width: 196px; height: 0;
	flex-shrink: 0;
	border-top: 1px dashed #959595;
}

.card-subtitle-right {
	text-align: right;
}

.card-btn-symbol {
	margin-left: 1px; margin-top: 20px;
	width: 209px;
	display: flex;
	justify-content: center;
	align-self: center;
	color: #000;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fece15;
	padding: 18px 9px;
	border-radius: 100px;
}

.card-text-bottom {
	margin-top: 12px;
	text-align: left;
}

.symbol7 {
	position: absolute; top: 403px; left: 72px; 
}

.subtitle-symbol1 {
	position: absolute; top: 403px; left: 260px; right: 871px; 
	color: #000;
}

.heroicons-solid-x1 {
	top: 408px; left: 50%; 
	translate: -50% 0;
	margin-left: 134px;
	width: 14px; height: 14px;
}

.btn-light1 {
	top: 485px; 
}

.btn3 {
	position: absolute; top: 485px; left: 260px; 
	margin-left: unset;
	width: 131px;
	align-self: unset;
	color: #000;
}

.line2 {
	position: absolute; top: 586px; left: 72px; 
	max-width: 794px;
	flex-shrink: unset;
}

.symbol8 {
	position: absolute; top: 611px; left: 72px; 
}

.subtitle-symbol2 {
	position: absolute; top: 611px; left: 260px; right: 871px; 
	color: #000;
}

.heroicons-solid-x2 {
	top: 616px; left: 50%; 
	translate: -50% 0;
	margin-left: 134px;
	width: 14px; height: 14px;
}

.btn-light2 {
	top: 693px; 
}

.btn4 {
	position: absolute; top: 693px; left: 260px; 
	margin-left: unset;
	width: 131px;
	align-self: unset;
	color: #000;
}

.line3 {
	position: absolute; top: 794px; left: 72px; 
	max-width: 794px;
	flex-shrink: unset;
}

.symbol9 {
	position: absolute; top: 819px; left: 72px; 
}

.subtitle-symbol3 {
	position: absolute; top: 819px; left: 260px; right: 871px; 
	color: #000;
}

.heroicons-solid-x3 {
	top: 824px; left: 50%; 
	translate: -50% 0;
	margin-left: 134px;
	width: 14px; height: 14px;
}

.symbol10 {
	position: absolute; top: 883px; left: 947px; 
	width: 110px;
}

.btn-light3 {
	top: 901px; 
}

.btn5 {
	position: absolute; top: 901px; left: 260px; 
	margin-left: unset;
	width: 131px;
	align-self: unset;
	color: #000;
}

.text-symbol1 {
	position: absolute; top: 919px; left: 1057px; right: 106px; 
	color: #959595;
}

.line4 {
	position: absolute; top: 1002px; left: 72px; 
	max-width: 794px;
	flex-shrink: unset;
}

.symbol11 {
	position: absolute; top: 1027px; left: 72px; 
}

.subtitle-symbol4 {
	position: absolute; top: 1027px; left: 260px; right: 871px; 
	color: #000;
}

.heroicons-solid-x4 {
	top: 1032px; left: 50%; 
	translate: -50% 0;
	margin-left: 134px;
	width: 14px; height: 14px;
}

.btn-light4 {
	top: 1109px; 
}

.btn6 {
	position: absolute; top: 1109px; left: 260px; 
	margin-left: unset;
	width: 131px;
	align-self: unset;
	color: #000;
}

.line5 {
	position: absolute; top: 1210px; left: 72px; 
	max-width: 794px;
	flex-shrink: unset;
}

.title-symbol {
	margin: 0 72px;
	color: #000;
}

.footer1 .nav1 .nav-graphic2 {
	width: 28px; height: 28px;
}

.footer1 .nav1 .nav-graphic-right {
	width: 27px; height: 27px;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.card7 {
		padding-inline: var(--margin-sm);
	}
	.title-symbol {
		margin-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.title-symbol {
		margin-inline: var(--margin-sm);
	}
}
