body {
	align-items: center;
	gap: 15px;
	font-weight: 400;
}

.row1 {
	color: #000;
	font-weight: unset;
}

.group1 .group-heroicons3 {
	top: 11px; left: 25px; 
	width: 21px; height: 21px;
}

.subtitle-set-present {
	position: absolute; top: 46px; left: 131px; right: 1078px; 
	color: #000;
	text-transform: uppercase;
}

.heroicons-solid-user {
	top: 56px; right: 76px; 
	width: 16px; height: 21px;
}

.heroicons {
	top: 56px; right: 122px; 
	width: 21px; height: 20px;
}

.heroicons-solid-heart1 {
	top: 57px; right: 170px; 
	width: 20px; height: 18px;
}

.graphic1 {
	position: absolute; top: 57px; left: 5%; 
	width: 2%; height: 17px;
}

.text-plus {
	position: absolute; top: 56px; right: 256px; 
	color: #000;
}

.subtitle-symbol1 {
	align-self: stretch;
	text-align: center;
}

.row2 {
	margin-left: 1px; margin-top: 20px;
	width: 329px;
	display: flex;
	justify-content: flex-end;
	gap: 30px;
	color: #616e7d;
	font-size: 16px;
	background-color: #fff;
	padding: 3px;
	border: 1px solid #dddcdb;
	border-radius: 100px;
}

.text-symbol1 {
	align-self: center;
}

.btn-symbol1 {
	width: 205px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	align-self: start;
	text-align: center;
	background-color: #f5f5f5;
	padding: 10px 9px;
	border-radius: 100px;
}

.input-symbol1 {
	align-self: unset;
}

.input-symbol2 {
	align-self: unset;
}

.input-email {
	align-self: unset;
}

.input-symbol3 {
	align-self: unset;
}

.btn-symbol2 {
	margin-top: 20px;
	align-self: unset;
}

.text6 {
	margin-top: 5px;
	align-self: stretch;
	text-align: center;
}

.footer1 {
	margin-top: 129px;
	align-self: stretch;
}

.footer1 .footer-graphic2 {
	width: 28px; height: 28px;
}

.footer1 .footer-graphic-right {
	width: 27px; height: 27px;
}
