{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Set Present{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="sideNav" class="side-nav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'main_page' %}">Главная</a>
    <a href="{% url 'catalog' %}">Каталог</a>
    <a href="{% url 'cart' %}">Корзина</a>
    <a href="{% url 'favourites' %}">Избранное</a>
    <a href="{% url 'profile' %}">Профиль</a>
    <a href="{% url 'auth' %}">Вход</a>
    <a href="{% url 'registration' %}">Регистрация</a>
</div>

<header>
    <img src="{% static 'assets/btn-icon.svg' %}" alt="menu" class="menu-button slider-icon" onclick="openNav()" />
</header>
<main>
{% block content %}{% endblock %}
</main>
<footer></footer>
<script src="{% static 'js/slider.js' %}"></script>
</body>
</html>
