{% load static %}
{% block title %}Избранное{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/desktop5.css' %}">
  <div class="group-c group1">
    <object data="{% static 'assets/btn-icon.svg' %}" class="heroicons-solid-heart-a group-heroicons1" type="image/svg+xml"></object>
  </div>

  <div class="row-a">
    <object data="{% static 'assets/row/row-graphic.svg' %}" class="row-graphic" type="image/svg+xml"></object>
    <p class="row-text1">Поиск по каталогу</p>
  </div>

  <h2 class="subtitle-set-present text1">set present</h2>
  <object data="{% static 'assets/header-heroicons.svg' %}" class="heroicons-solid-heart-a heroicons-solid-user" type="image/svg+xml"></object>
  <object data="{% static 'assets/header-heroicons-738.svg' %}" class="heroicons-solid-heart-a heroicons1" type="image/svg+xml"></object>
  <object data="{% static 'assets/header-heroicons-699.svg' %}" class="heroicons-solid-heart-a heroicons-solid-heart1" type="image/svg+xml"></object>
  <object data="{% static 'assets/header-graphic.svg' %}" class="graphic1" type="image/svg+xml"></object>
  <p class="text-plus text3">+7 (495) 488-72-72</p>

  <div class="card7 box-yellow2">
    <p class="text-symbol-b">В корзину</p>
    <div class="card-circle3 circle-white1">
      <div class="heroicons-solid-shopping heroicons2">
        <object data="{% static 'assets/desktop/heroicons-solid-shopping/heroicons-solid-shopping-graphic.svg' %}" class="heroicons-solid-shopping-graphic" type="image/svg+xml"></object>
      </div>
    </div>
  </div>

  <h1 class="title-symbol title">Избранное</h1>
  <img src="{% static 'assets/symbol2.png' %}" class="symbol7 box1" />
  <h2 class="subtitle-symbol1 subtitle2">
    Подарочный набор<br />
    «Антрацит»
  </h2>
  <object data="{% static 'assets/heroicons-solid-x.svg' %}" class="heroicons-solid-heart-a heroicons-solid-x1" type="image/svg+xml"></object>

  <div class="frame frame1">
    <object data="{% static 'assets/desktop/frame/frame-heroicons.svg' %}" class="heroicons-solid-heart-a frame-heroicons" type="image/svg+xml"></object>
  </div>

  <button class="btn-a btn3 hover-fx">8 775 ₽</button>
  <img src="{% static 'assets/symbol2.png' %}" class="symbol8 box1" />
  <h2 class="subtitle-symbol2 subtitle2">
    Подарочный набор<br />
    «Антрацит»
  </h2>
  <object data="{% static 'assets/heroicons-solid-x.svg' %}" class="heroicons-solid-heart-a heroicons-solid-x2" type="image/svg+xml"></object>

  <button class="btn-light btn-light1 hover-fx">
    <object data="{% static 'assets/btn-light/btn-light-icon-heros.svg' %}" class="btn-light-icon-heros-solid-plus btn-light-icon-heros1" type="image/svg+xml"></object>
    <p>1 шт</p>
    <div class="btn-light-icon-heros2">
      <div class="btn-light-line"></div>
    </div>
  </button>

  <button class="btn-a btn4 hover-fx">8 775 ₽</button>
  <img src="{% static 'assets/symbol2.png' %}" class="symbol9 box1" />
  <h2 class="subtitle-symbol3 subtitle2">
    Подарочный набор<br />
    «Антрацит»
  </h2>
  <object data="{% static 'assets/heroicons-solid-x.svg' %}" class="heroicons-solid-heart-a heroicons-solid-x3" type="image/svg+xml"></object>

  <div class="frame frame2">
    <object data="{% static 'assets/desktop/frame/frame-heroicons.svg' %}" class="heroicons-solid-heart-a frame-heroicons" type="image/svg+xml"></object>
  </div>

  <button class="btn-a btn5 hover-fx">8 775 ₽</button>
  <img src="{% static 'assets/symbol2.png' %}" class="symbol10 box1" />
  <h2 class="subtitle-symbol4 subtitle2">
    Подарочный набор<br />
    «Антрацит»
  </h2>
  <object data="{% static 'assets/heroicons-solid-x.svg' %}" class="heroicons-solid-heart-a heroicons-solid-x4" type="image/svg+xml"></object>

  <div class="frame frame3">
    <object data="{% static 'assets/desktop/frame/frame-heroicons.svg' %}" class="heroicons-solid-heart-a frame-heroicons" type="image/svg+xml"></object>
  </div>

  <button class="btn-a btn6 hover-fx">8 775 ₽</button>
  <div class="line-a line1"></div>
  <div class="line-a line2"></div>
  <div class="line-a line3"></div>
  <div class="line-a line4"></div>
  <div class="line-a line5"></div>

  <footer class="footer-a footer1">
    <div class="nav nav1">
      <h2 class="nav-subtitle">set present</h2>
      <div class="nav-items1">
        <div class="nav-circle circle-white1">
          <object data="{% static 'assets/nav-circle-white/nav-graphic.svg' %}" class="nav-graphic1" type="image/svg+xml"></object>
        </div>
        <object data="{% static 'assets/nav-nav-items/nav-graphic.svg' %}" class="graphic nav-graphic2" type="image/svg+xml"></object>
        <object data="{% static 'assets/nav-nav-items/nav-graphic2.svg' %}" class="graphic nav-graphic-right" type="image/svg+xml"></object>
      </div>
    </div>
    <div class="nav-items-a nav-items2">
      <p class="nav-items-text-symbol">каталог</p>
      <p class="nav-items-text-symbol">конструктор</p>
      <p class="nav-items-text-symbol">о компании</p>
      <p class="nav-items-text-symbol">Оплата</p>
      <p class="nav-items-text-symbol">Доставка</p>
    </div>
  </footer>
{% endblock %}
