{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/desktop6.css' %}">
{% endblock %}
{% block body_class %}profile-page{% endblock %}
{% block content %}
  <div class="group1 btn1">
    <object data="{% static 'assets/btn-icon.svg' %}" class="heroicons-solid-heart-b heroicons-outline-phone" type="image/svg+xml"></object>
  </div>

  <div class="row-a row1">
    <object data="{% static 'assets/row/row-graphic.svg' %}" class="row-graphic" type="image/svg+xml"></object>
    <p class="row-text1">Поиск по каталогу</p>
  </div>

  <h2 class="subtitle-set-present text1">set present</h2>
  <object data="{% static 'assets/header-heroicons.svg' %}" class="heroicons-solid-heart-b heroicons-solid-user" type="image/svg+xml"></object>
  <object data="{% static 'assets/header-heroicons-340.svg' %}" class="heroicons-solid-heart-b heroicons1" type="image/svg+xml"></object>
  <object data="{% static 'assets/header-heroicons-635.svg' %}" class="heroicons-solid-heart-b heroicons-solid-heart1" type="image/svg+xml"></object>
  <object data="{% static 'assets/header-graphic.svg' %}" class="graphic1" type="image/svg+xml"></object>
  <p class="text-plus text3">+7 (495) 488-72-72</p>

  <div class="card7 box-yellow2">
    <p class="text-symbol-b">Выйти</p>
    <div class="card-circle3">
      <object data="{% static 'assets/desktop/card-heroicons.svg' %}" class="heroicons-solid-arrow card-heroicons6" type="image/svg+xml"></object>
    </div>
  </div>

<h1 class="title-symbol title">Личный кабинет</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Сохранить</button>
</form>

  <div class="group2">
    <h2 class="subtitle-symbol1">Личный данные</h2>

    <div class="column-h col4">
      <p class="text-symbol-c">Имя</p>
      <div class="column-row-bottom3">
        <p class="column-text4">Екарина</p>
        <object data="{% static 'assets/desktop/column-row/column-graphic.svg' %}" class="column-graphic" type="image/svg+xml"></object>
      </div>
    </div>

    <div class="column-h col5">
      <p class="text-symbol-c">Фамилия</p>
      <div class="column-row-bottom3">
        <p class="column-text4">Солнцева</p>
        <object data="{% static 'assets/desktop/column-row/column-graphic.svg' %}" class="column-graphic" type="image/svg+xml"></object>
      </div>
    </div>

    <div class="column-h col6">
      <p class="text-symbol-c">Email</p>
      <div class="column-row-bottom3">
        <p class="column-text4">KateSun@mail.ru</p>
        <object data="{% static 'assets/desktop/column-row/column-graphic.svg' %}" class="column-graphic" type="image/svg+xml"></object>
      </div>
    </div>

    <div class="rect"></div>
    <h2 class="subtitle-symbol2">••••••••••</h2>
    <p class="text-symbol1">Пароль</p>
    <object data="{% static 'assets/desktop/column-row/column-graphic.svg' %}" class="graphic2" type="image/svg+xml"></object>

    <div class="col7">
      <object data="{% static 'assets/desktop/column-row/column-graphic.svg' %}" class="graphic3" type="image/svg+xml"></object>
      <p class="text-symbol-c text-top">Телефон</p>
      <p class="text-bottom">8 (923) 725-64-55</p>
    </div>
  </div>

  <div class="symbol-b symbol7">О компании</div>
  <div class="symbol-c symbol8">
    Текущие<br />
    заказы
  </div>
  <div class="symbol-c symbol9">
    История<br />
    заказов
  </div>
  <div class="symbol-b symbol10">Оплата</div>
  <div class="symbol-b symbol11">Доставка</div>
  <div class="symbol-b symbol12">Конструктор</div>
  <p class="text-symbol2 text-gray2">Дата оформления</p>
  <p class="text-symbol3 text-gray2">Наполнение</p>
  <p class="text-symbol4 text-gray2">Цена</p>
  <h2 class="subtitle5 subtitle3">8 775 ₽</h2>
  <h2 class="subtitle6 subtitle3">28.05.2025</h2>
  <p class="text-symbol5 text-gray2">
    Подарочный набор «Антрацит» (1 шт.), Подарочный набор «Sunset» (5 шт.), Подарочный набор «Счастье в моменте» (3 шт.)
  </p>
  <h2 class="subtitle7 subtitle3">12 980 ₽</h2>
  <h2 class="subtitle8 subtitle3">14.12.2024</h2>
  <p class="text-symbol6 text-gray2">
    Подарочный набор «Антрацит» (1 шт.), Подарочный набор «Sunset» (5 шт.), Подарочный набор «Счастье в моменте» (3 шт.), Подарочный набор «Антрацит» (1 шт.)
  </p>
  <h2 class="subtitle9 subtitle3">05.09.2024</h2>
  <h2 class="subtitle10 subtitle3">4 750 ₽</h2>
  <p class="text-symbol7 text-gray2">
    Подарочный набор «Антрацит» (1 шт.), Подарочный набор «Sunset» (5 шт.),
  </p>
  <p class="text-symbol8 text-gray2">Дата оформления</p>
  <p class="text-symbol9 text-gray2">Наполнение</p>
  <p class="text-symbol10 text-gray2">Цена</p>
  <h2 class="subtitle11 subtitle3">28.05.2025</h2>
  <h2 class="subtitle12 subtitle3">8 775 ₽</h2>
  <p class="text-symbol11 text-gray2">
    Подарочный набор «Антрацит» (1 шт.), Подарочный набор «Sunset» (5 шт.), Подарочный набор «Счастье в моменте» (3 шт.)
  </p>

  <div class="card-component1">
    <div class="row-f row-top2">
      <p class="row-text4">/01</p>
      <img src="{% static 'assets/desktop/row/row-symbol1.png' %}" class="row-symbol" />
    </div>

    <div class="card-component-row2">
      <h2 class="subtitle-symbol-c">Доставка</h2>
      <div class="card-component-circle2">
        <object data="{% static 'assets/desktop/card-component-heroicons.svg' %}" class="card-component-heroicons-solid-globe card-component-heroicons" type="image/svg+xml"></object>
      </div>
    </div>

    <p class="text-symbol-d">
      Производим доставку по всей России. Стоимость рассчитывается в зависимости от местоположения получателя и выбранного способа доставки.
    </p>
  </div>

  <div class="group3">
    <object data="{% static 'assets/desktop/heroicons-solid-bolt.svg' %}" class="heroicons-solid-banknotes heroicons-solid-bolt" type="image/svg+xml"></object>

    <div class="card-component card-component2">
      <div class="row-f row-top">
        <p class="row-text4">/03</p>
        <img src="{% static 'assets/desktop/row/row-symbol2.png' %}" class="row-symbol" />
      </div>

      <div class="card-component-row">
        <h2 class="subtitle-symbol-c">О компании</h2>
        <div class="card-component-circle"></div>
      </div>

      <p class="text-symbol-d">
        Set Present — маркетплейс подарочных наборов: выбирайте или собирайте собственный уникальный комплект, а мы красиво упакуем и доставим в срок.
      </p>
    </div>
  </div>

  <h2 class="subtitle-symbol3 subtitle4">История заказов</h2>
  <ul>
  {% for order in orders %}
      <li>
        {{ order.order_date }} - {{ order.orderitem_set.all|length }} товаров
      </li>
  {% empty %}
      <li>История пуста.</li>
  {% endfor %}
  </ul>
  <h2 class="subtitle-symbol4 subtitle4">Текущие заказы</h2>
  <div class="line-c line5"></div>
  <div class="line-c"></div>

  <div class="group4">
    <object data="{% static 'assets/desktop/heroicons.svg' %}" class="heroicons-solid-banknotes heroicons2" type="image/svg+xml"></object>

    <div class="card-component card-component3">
      <div class="row-f row-top">
        <p class="row-text4">/02</p>
        <img src="{% static 'assets/desktop/row/row-symbol3.png' %}" class="row-symbol" />
      </div>

      <div class="card-component-row">
        <h2 class="subtitle-symbol-c">Оплата</h2>
        <div class="card-component-circle"></div>
      </div>

      <p class="text-symbol-d">
        Оплата производится только после согласования всех деталей с менеджером, который свяжется с вами сразу после оформления заказа на сайте.
      </p>
    </div>
  </div>

  <footer class="footer1">
    <div class="nav nav2">
      <h2 class="nav-subtitle">set present</h2>
      <div class="nav-items1">
        <div class="nav-circle circle-white1">
          <object data="{% static 'assets/nav-circle-white/nav-graphic.svg' %}" class="nav-graphic1" type="image/svg+xml"></object>
        </div>
        <object data="{% static 'assets/nav-nav-items/nav-graphic.svg' %}" class="graphic nav-graphic2" type="image/svg+xml"></object>
        <object data="{% static 'assets/nav-nav-items/nav-graphic2.svg' %}" class="graphic nav-graphic-right" type="image/svg+xml"></object>
      </div>
    </div>
    <div class="nav-items-a nav-items4">
      <p class="nav-items-text-symbol">каталог</p>
      <p class="nav-items-text-symbol">конструктор</p>
      <p class="nav-items-text-symbol">о компании</p>
      <p class="nav-items-text-symbol">Оплата</p>
      <p class="nav-items-text-symbol">Доставка</p>
    </div>
  </footer>
{% endblock %}
