{% load static %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/symbol5.css' %}">
    <div class="row-a row1">
        <object data="{% static 'assets/row/row-graphic.svg' %}" class="row-graphic" type="image/svg+xml"></object>
        <p class="row-text1">Поиск по каталогу</p>
    </div>

    <div class="group-h group1">
        <object data="{% static 'assets/btn-icon.svg' %}" class="heroicons-solid-heart-a group-heroicons3"
                type="image/svg+xml"></object>
    </div>

    <h2 class="subtitle-set-present text1">set present</h2>
    <object data="{% static 'assets/header-heroicons.svg' %}" class="heroicons-solid-heart-a heroicons-solid-user"
            type="image/svg+xml"></object>
    <object data="{% static 'assets/header-heroicons-007.svg' %}" class="heroicons-solid-heart-a heroicons"
            type="image/svg+xml"></object>
    <object data="{% static 'assets/header-heroicons-529.svg' %}" class="heroicons-solid-heart-a heroicons-solid-heart1"
            type="image/svg+xml"></object>
    <object data="{% static 'assets/header-graphic.svg' %}" class="graphic1" type="image/svg+xml"></object>
    <p class="text-plus text3">+7 (495) 488-72-72</p>
    <h2 class="subtitle-symbol1 subtitle-gray2">Регистрация</h2>

    <div class="row2">
        <a href="{% url 'auth' %}" class="text-symbol1">Войти</a>
        <button class="btn-symbol1 text5 hover-fx">Зарегистрироваться</button>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username }}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button type="submit" class="btn-symbol-c btn-symbol2 hover-fx">Зарегистрироваться</button>
    </form>
    <p class="text6 text-gray3">
        Данные формы обрабатываются на основании <a class="link2" href="#">пользовательского соглашения</a>
    </p>

    <footer class="footer-b footer1">
        <div class="footer-nav">
            <h2 class="footer-subtitle">set present</h2>
            <div class="footer-nav-items">
                <div class="footer-circle circle-white1">
                    <object data="{% static 'assets/nav-circle-white/nav-graphic.svg' %}" class="footer-graphic1"
                            type="image/svg+xml"></object>
                </div>
                <object data="{% static 'assets/nav-nav-items/nav-graphic.svg' %}" class="graphic footer-graphic2"
                        type="image/svg+xml"></object>
                <object data="{% static 'assets/nav-nav-items/nav-graphic2.svg' %}" class="graphic footer-graphic-right"
                        type="image/svg+xml"></object>
            </div>
        </div>
        <div class="nav-items-a nav-items3">
            <p class="nav-items-text-symbol">каталог</p>
            <p class="nav-items-text-symbol">конструктор</p>
            <p class="nav-items-text-symbol">о компании</p>
            <p class="nav-items-text-symbol">контакты</p>
            <p class="nav-items-text-symbol">Доставка</p>
        </div>
    </footer>
{% endblock %}
