body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: #000;
	font-family: 'Montserrat';
	line-height: normal;
	letter-spacing: 0px;
	background-color: #fff;
	padding-top: 44px;
	overflow: auto;
}

.symbol {
	width: 160px;
	flex-shrink: 0;
	border-radius: 30px;
}

.subtitle-symbol {
	font-size: 24px;
}

.btn {
	width: 131px; height: 30px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fece15;
	padding: 4px 12px;
	border-radius: 100px;
}

.row-heroicons-solid-shopping {
	width: 21px; height: 21px;
}

.heroicons-solid-x-mark {
	margin-top: 5px;
	width: 14px; height: 14px;
	flex-shrink: 0;
}

.col1 {
	container: col1 / inline-size;
	display: flex;
	flex-direction: column;
	gap: 144px;
}

.row-top1 {
	margin: 0 72px;
	height: 44px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 29px;
	flex-shrink: 0;
	font-size: 16px;
	font-weight: 400;
}

.graphic-left1 {
	margin-left: -1px; margin-top: -1px;
	width: 32px; height: 39%;
	flex-shrink: 0;
	align-self: center;
}

.subtitle-set-present {
	margin-top: 2px;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
}

.row1 {
	margin-left: 4px;
	height: 44px;
	display: flex;
	gap: 16px;
	padding: 11px 177px 11px 23px;
	border: 1px solid #000;
	border-radius: 100px;
}

.graphic-left2 {
	margin-top: 1px;
	width: 15px; height: 75%;
	flex-shrink: 0;
	align-self: center;
}

.text-symbol {
	align-self: start;
}

.group1 {
	position: relative;
	margin-left: 174px;
	width: 231px;
	flex-shrink: 0;
}

.text-plus {
	position: absolute; top: 12px; left: 60px; 
}

.group2 {
	position: relative; z-index: 1;
	height: 44px;
	border: 1px solid #000;
	border-radius: 500px;
}

.heroicons-outline-phone {
	position: absolute; top: 11px; left: 25px; 
	width: 21px; height: 21px;
}

.graphic-right {
	margin-left: 11px; margin-top: 10px;
	width: 120px; height: 24px;
	flex-shrink: 0;
}

.col2 {
	container: col2 / inline-size;
	margin: 0 72px;
	display: flex;
	flex-direction: column;
	gap: 87px;
	font-weight: 500;
}

.row-top2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.title-symbol {
	font-size: 48px;
}

.card-right {
	margin-top: 3px;
	width: 209px;
	display: flex;
	gap: 53px;
	flex-shrink: 0;
	font-size: 16px;
	background-color: #fece15;
	padding: 9px 9px 9px 22px;
	border-radius: 100px;
}

.card-right-text {
	align-self: center;
}

.card-right-circle {
	position: relative;
	width: 38px;
	flex-shrink: 0;
	align-self: start;
	aspect-ratio: 1 / 1;
}



/* heroicons-solid-shopping */

.heroicons-solid-shopping {
	position: absolute; top: 23%; left: 23%; 
	width: 55%; height: 55%;
	background-color: #fff;
}

.heroicons-solid-shopping-graphic {
	position: absolute; top: 9%; left: 6%; 
	width: 87%;
}
/* end heroicons-solid-shopping*/


.col3 {
	display: flex;
	flex-direction: column;
	gap: 23px;
	padding-bottom: 23px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



/* row */

.row {
	container: row / inline-size;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 24px;
	padding-right: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row-row-left {
	display: flex;
	align-items: flex-start;
	gap: 28px;
}

.row-col {
	width: 100%;
	max-width: 309px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-shrink: 0;
}

.row-row-bottom {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: start;
	font-size: 18px;
}

.row-frame-right {
	height: 30px;
	background-color: #f5f5f5;
	padding: 5px 55px;
	border-radius: 100px;
}
/* end row*/


.row3 {
	container: row3 / inline-size;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 24px;
	padding-right: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row-left {
	display: flex;
	align-items: flex-start;
	gap: 28px;
}

.col4 {
	width: 100%;
	max-width: 309px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-shrink: 0;
}

.row-bottom {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: start;
	font-size: 18px;
}

.btn-light-right {
	width: 131px; height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	flex-shrink: 0;
	color: #959595;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #f5f5f5;
	padding: 3px 8px;
	border-radius: 100px;
}

.btn-light-right-icon-heros-solid-plus {
	margin-left: -2px;
	width: 24px; height: 24px;
	flex-shrink: 0;
}

.btn-light-right-icon-heros2 {
	margin-left: 4px; margin-top: -1px;
	width: 17px;
	flex-shrink: 0;
}

.btn-light-right-line {
	height: 0;
	border-top: 2px solid #959595;
	border-radius: 50%;
}

.footer {
	container: footer / inline-size;
	display: flex;
	flex-direction: column;
	gap: 48px;
	color: #fff;
	background-color: #000;
	padding: 50px 50px 96px 50px;
}

.footer-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	font-weight: 500;
	line-height: 0.92;
	letter-spacing: -0.89px;
	padding: 27px 0;
	border-bottom: 1px solid #fff;
}

.footer-subtitle {
	text-transform: uppercase;
}

.footer-nav-items1 {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-graphic {
	flex-shrink: 0;
}

.footer-circle {
	position: relative;
	width: 28px; height: 28px;
	flex-shrink: 0;
}

.footer-graphic1 {
	position: absolute; top: 27%; left: 26%; 
	width: 50%;
}

.footer-graphic2 {
	width: 28px; height: 28px;
}

.footer-graphic-right {
	width: 27px; height: 27px;
}

.footer-nav-items2 {
	display: flex;
	align-items: center;
	gap: 40px;
	align-self: start;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.28px;
}

.footer-text-symbol {
	text-transform: uppercase;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 768px) {
	.row-top1 {
		margin-inline: var(--margin-md);
	}
	.row1 {
		padding-inline: var(--margin-md);
	}
	.col2 {
		margin-inline: var(--margin-md);
	}
	.footer {
		padding-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.row-top1 {
		margin-inline: var(--margin-sm);
	}
	.row1 {
		padding-inline: var(--margin-sm);
	}
	.col2 {
		margin-inline: var(--margin-sm);
	}
	.footer {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container col1 (width < 1439px) {
	.row-top1 {
		height: unset;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.row-top1 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
	}
}

@container col2 (width < 493px) {
	.row-top2 {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.row-top2 > * {
		margin-top: unset !important;
		text-align: center;
	}
}

@container row (width < 496px) {
	.row-row-left {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
}

@container row3 (width < 496px) {
	.row-left {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
}

@container footer (width < 321px) {
	.footer-nav {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-nav > * {
		margin-left: unset !important; margin-right: unset !important;
		text-align: center;
	}
}

@container footer (width < 608px) {
	.footer-nav-items2 {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-nav-items2 > * {
		text-align: center;
	}
}
